<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles.css">
  </head>
  <body>
    <div class="box" id="heading">
      <h1><%= kindOfDay %></h1>
    </div>
<div class="box">
    <% for(var i=0;  i<listItem.length ; i++) { %>
      <div class="item">
        <input type="checkbox">
        <p><%= listItem[i] %></p>
      </div>
    <% } %>

    <form action="/" class="item" method="post">
      <input type="text" name="inp" placeholder="new item" autocomplete="off">
      <button type="submit" name="button">+</button>
    </form>
  </div>

  </body>
</html>
